<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New bautismos converso</h1>

  <%= render "form", bautismos_converso: @bautismos_converso %>

  <%= link_to "Back to bautismos conversos", bautismos_conversos_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
